<!-- your html code here -->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="col">
       <div class="p-3 text-white">Start Bootstrap </div>
      </div>
      <div class="col">
        <div class="p-3 text-white">About</div>
      </div>
      <div class="col">
        <div class="p-3 text-white">Services</div>
       </div>
       <div class="col">
         <div class="p-3 text-white">Portfolio</div>
       </div>
       <div class="col">
        <div class="p-3 text-white">Contact</div>
       </div>
    </div>
</nav>
